
*.py[cod]
*.egg-info
__pycache__
.DS_Store
Thumbs.db


.idea/
.vscode/


*.log
logs/
logs_eval/
runs/
outputs/
results/
hydra_logs/
wandb/

*.pt
*.onnx

*.pkl
*.npz
humanoidverse/data/motions/
humanoidverse/data/smpl/
data/shape/
data/motions/
humanoidverse/data/Recorded/
humanoidverse/data/AMASS/
AMASS/


*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv