# ========================
# 1. 代码运行与缓存
# ========================
*.py[cod]
*.egg-info
__pycache__
.DS_Store
Thumbs.db

# ========================
# 2. IDE 配置文件
# ========================
.idea/
.vscode/

# ========================
# 3. 日志与输出 (RL 核心防护)
# ========================
*.log
logs/
logs_eval/
runs/
outputs/
results/
hydra_logs/
wandb/

# ========================
# 4. 模型权重文件 (防止超 100MB 限制)
# ========================
*.pt
*.onnx

# ========================
# 5. 动作数据与缓存 (AMASS / SMPL)
# ========================
*.pkl
*.npz
humanoidverse/data/motions/
humanoidverse/data/smpl/
data/shape/
data/motions/
humanoidverse/data/Recorded/
humanoidverse/data/AMASS/
AMASS/

# ========================
# 6. 应用程序与多媒体
# ========================
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv